.heading {
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

body {
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}